* {
  margin: 0;
}

.page {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('../images/header-background.png');
  border-bottom: 2px black solid;
  padding: 1rem 1.2rem;
  .title {
    color: white;
  }
}

main {
  min-height: 90vh;
  background-color: rgb(192, 219, 138);
  section {
    padding: 10px 0;
  }
}

.section_clubs_list {
  .buttonReset {
    background-color: orange;
    border-radius: 2px;
    color: white;
    margin: 0 10px;
    float: right;
  }
  ul {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    padding-inline-start: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      width: auto;
    }
  }
  .li_container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: rgb(40, 95, 68) solid 2px;
    border-radius: 10px;
    background-color: rgb(31, 63, 88);
    list-style-type: none;
    color: white;
    padding: 5px;
    h3 {
      width: 100%;
    }
    .buttonX {
      background-color: orange;
      border-radius: 2px;
      color: white;
      width: 30px;
      float: right;
      position: relative;
      transform: translateY(-15px);
    }
  }
}

.section_new_club {
  h2 {
    background-image: url('../images/header-background.png');
    border-bottom: black 2px solid;
    color: white;
    padding: 0.5rem 1.2rem;
  }
  .form {
    color: white;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 98, 126);
    border: rgb(83, 145, 115) solid 2px;
    border-radius: 10px;
    margin: 10px auto 0px auto;
    max-width: max-content;
    @media (min-width: 768px) {
      padding: 40px;
      margin: 20px auto 0px auto;
      border-radius: 50px;
    }
    label {
      margin: 5px 0;
    }
    input {
      margin: 0 10px;
    }
    &--text_input {
      width: 110px;
      @media (min-width: 768px) {
        width: auto;
      }
    }
    .submitBtn {
      background-color: green;
      color: white;
      border-radius: 20px;
      padding: 6px;
      margin: 20px auto 10px auto;
      font-weight: bolder;
      @media (min-width: 768px) {
        margin: 20px auto 10px auto;
        border-radius: 25px;
        padding: 10px;
      }
    }
  }
}

.footer {
  opacity: 0.9;
  padding: 0px 1rem;
  color: white;
  background-image: url('../images/header-background.png');
  text-align: end;
}
