* {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('../images/header-background.png');
  border-bottom: 2px black solid;
  padding: 1rem 1.2rem;
  .title {
    color: white;
  }
}

main {
  margin: 10px;
  section {
    margin: 20px 0;
  }
  h2 {
    border-bottom: black 2px solid;
  }
  ul {
    padding-inline-start: 0px;
  }
  .li_container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: rgb(40, 95, 68) solid 2px;
    border-radius: 10px;
    background-color: rgb(31, 63, 88);
    list-style-type: none;
    color: white;
    padding: 5px;
    h3 {
      width: 100%;
    }
    .buttonX {
      background-color: orange;
      border-radius: 2px;
      color: white;
      float: right;
    }
  }
  .form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 98, 126);
    border: rgb(83, 145, 115) solid 2px;
    border-radius: 10px;
    margin: 10px;
    input {
      margin: 0 10px;
    }
    .submitBtn {
      background-color: green;
      color: white;
      border-radius: 10px;
      width: fit-content;
      margin: 5px 0;
    }
  }
}
